body{
    background-color: #3a59d1;
}
main{
    background-color: #3a59d1;
    height: 100%;
    width: 70%;
    margin: auto;
}
header{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    background-color:#3D90D7;
    color:white;
    width: 100%;
    border-radius: 10px;
    
}
section{

    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #3D90D7;
    border-radius: 10px;
}
footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #3D90D7;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}
#uploadButton{
    background-color: #7AC6D2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%;
    height: 50px;
}
#uploadButton:onclick{
    background-color: #c5c5c5;
    color: white;
  
}
#result{
    color:white;
}