/* Globalne style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Stylizacja ogólna */
body {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

body.darkmode {
    background-color: #121212;
    color: #e3e3e3;
}

main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

h6 {
    font-size: 16px;
    color: #777;
}

section {
    text-align: center;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}

label.uploadStyl {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

label.uploadStyl:hover {
    background-color: #45a049;
}

input[type="button"] {
    padding: 12px 24px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #007B9D;
}

/* Przełącznik trybu ciemnego */
footer {
    text-align: center;
    margin-top: 40px;
}

footer h3 {
    font-size: 14px;
    color: #777;
}

footer button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 24px;
}

footer button:hover {
    transform: scale(1.1);
}

footer button svg {
    fill: #000;
    transition: fill 0.3s ease;
}

body.darkmode footer button svg {
    fill: #fff;
}

/* Stylowanie logo producenta */
.brand-logo {
    filter: invert(0%) brightness(0%) !important; /* czarne logo w trybie jasnym */
    transition: filter 0.3s;
}

body.darkmode .brand-logo {
    filter: invert(100%) brightness(200%) !important; /* białe logo w trybie ciemnym */
}

/* Responsywność */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    label.uploadStyl {
        font-size: 16px;
    }

    input[type="button"] {
        font-size: 16px;
    }

    #result {
        font-size: 16px;
    }
}
